{% extends "base.html" %}

{% block title %}Rec-sys{% endblock %}

{% block content %}
    {{ super() }}
    <div class="container">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Rec Infomation</h1>
        <p>This system is based on user-collaborative filtering algotithm.Before recommend,it need to load data fom database and computer simlarity matrix and is a time-consuming process.so please be wait patiently.</p>
        <p>click following link to load algorithm!</p>
        <p>
          <a id="load" class="btn btn-lg btn-primary" href="{{ url_for('movie.loadRecSys') }}" role="button">Load Rec-sys &raquo;</a>
        </p>
      </div>
    </div> <!-- /container -->
{% endblock %}
