{% extends "base.html" %}

{% block title %}Rec-sys{% endblock %}

{% block page_content %}
<div class="container">
    <br/><br/>
      <div class="row">
        <div class="col-sm-6 col-md-4">
         <h4>Todo list</h4>
          <div class="todo">
            <div class="todo-search"><!--代做事件的搜索框-->
              <input class="todo-search-field" type="search" value="" placeholder="Search" />
            </div>
            <ul>
              <li class="todo-done">
                <div class="todo-icon fui-list"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    使userCF在服务器中启动后运行
                  </h4>
                  4-21
                </div>
              </li>
              <li class="todo-done">
                <div class="todo-icon fui-list"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    推荐内容的信息展示
                  </h4>
                    4-22
                </div>
              </li>
              <li >
                <div class="todo-icon fui-list"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    打分的操作
                  </h4>
                  as soon
                </div>
              </li>
                <li class="todo-done">
                <div class="todo-icon fui-list"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    搜索页面展示前5条电影信息
                  </h4>
                  4-19
                </div>
                </li>
            </ul>
          </div><!-- /.todo -->
        </div><!-- /.col-md-4 -->

      <div class="col-sm-6 col-md-4">
            <h4>Git-Hub</h4>
               <div class="tile" style="
                                    margin-bottom: 0px;
                                    border-bottom-width: 15px;
                                    padding-bottom: 44px;
                                ">
                <img src="/static/github.svg" alt="Chat" class="tile-image">
                <h3 class="tile-title">Stars & Improve</h3>
                <p style=" height: 40px;padding-bottom: 83px;">Your likes, shares and comments helps us.</p>
                <a class="btn btn-primary btn-large btn-block" href="https://github.com/Fivepoints/bishework">Get start</a>
              </div>
      </div>
      <div class="col-sm-6 col-md-4">
            <h4>Weibo</h4>
               <div class="tile" style="
                                    margin-bottom: 0px;
                                    border-bottom-width: 15px;
                                    padding-bottom: 44px;
                                ">
                <img src="/static/weibo.svg" alt="Chat" class="tile-image">
                <h3 class="tile-title">Follow & Chat</h3>
                <p style=" height: 40px;padding-bottom: 83px;">Your likes, shares and comments helps us.</p>
                <a class="btn btn-primary btn-large btn-block" href="http://weibo.com/u/5820060102">Get profile</a>
               </div>
      </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
{% endblock %}
