{% extends "base.html" %}

{% block title %}Rec-sys{% endblock %}

{% block page_content %}
<table class="table">
    <caption><em><h4>推荐结果显示</h4></em></caption>
    <thead>
      <tr>
         <th>电影名称</th>
          <th>封面</th>
          <th>上映</th>
          <th>类型</th>
          <th>导演</th>
          <th>主演</th>
          <th>评分</th>
          <th>操作</th>
      </tr>
   </thead>
    <tbody>
    {% for movieInfo in moviesInfo %}
        <tr>
            <td>{{ movieInfo['subjects'][0]['title'] }}</td>
            <td><img src="{{ movieInfo['subjects'][0]['images']['small'] }}"></td>
            <td>{{ movieInfo['subjects'][0]['year'] }}</td>
            <td>
                {% for genre in movieInfo['subjects'][0]['genres'] %}
                    {{ genre }}/
                {% endfor %}
            </td>
            <td>{{ movieInfo['subjects'][0]['directors'][0]['name'] }}</td>
            <td>
                {% for cast in movieInfo['subjects'][0]['casts'] %}
                    {{ cast['name'] }}/
                {% endfor %}
            </td>
            <td>{{ movieInfo['subjects'][0]['rating']['average'] }}</td>
            <td><a href="{{ movieInfo['subjects'][0]['alt'] }}">查看详情</a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
