{% extends "base.html" %}

{% block title %}Rec-sys{% endblock %}

{#{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='starRating/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='starRating/example.css') }}">
{% endblock%}#}

{% block page_content %}
<table class="table">
    <caption><em><h4>{{ movieInfo['title'] }}</h4></em></caption>
    <thead>
      <tr>
         <th>电影名称</th>
          <th>封面</th>
          <th>上映</th>
          <th>类型</th>
          <th>导演</th>
          <th>主演</th>
          <th>评价</th>
          <th>打分</th>
      </tr>
   </thead>
    <tbody>
    {% for i in range(5) %}
        <tr>
            <td>{{ movieInfo['subjects'][i]['title'] }}</td>
            <td><img src="{{ movieInfo['subjects'][i]['images']['small'] }}"></td>
            <td>{{ movieInfo['subjects'][i]['year'] }}</td>
            <td>
                {% for genre in movieInfo['subjects'][i]['genres'] %}
                    {{ genre }}/
                {% endfor %}
            </td>
            <td>{{ movieInfo['subjects'][i]['directors'][0]['name'] }}</td>
            <td>
                {% for cast in movieInfo['subjects'][i]['casts'] %}
                    {{ cast['name'] }}/
                {% endfor %}
            </td>
            <td>{{ movieInfo['subjects'][i]['rating']['average'] }}</td>
            <td hidden>{{ movieInfo['subjects'][i]['original_title'] }}</td>
            <td>
                <select data-toggle="select" class="form-control select select-default mrs mbm">
                    <option value="1">很差</option>
                    <option value="2">较差</option>
                    <option value="3">还行</option>
                    <option value="4" selected>推荐</option>
                    <option value="5">力荐</option>
                </select>
            </td>
        </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}

{% block scripts %}
{{ super() }}
{#<script type="text/javascript" src="{{ url_for("static",filename="barrating.js") }}"></script>
<script type="text/javascript" src="{{ url_for("static",filename="example.js") }}"></script>#}
{% endblock %}
