{% extends "base.html" %}

{% block title %}Rec-sys{% endblock %}

{#{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='starRating/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='starRating/example.css') }}">
{% endblock%}#}

{% block page_content %}
<table class="table">
    <caption><em><h4>{{ movieInfo['title'] }}</h4></em></caption>
    <thead>
      <tr>
         <th>电影名称</th>
          <th>封面</th>
          <th>上映</th>
          <th>类型</th>
          <th>导演</th>
          <th>主演</th>
          <th>打分</th>
          <th>确认</th>
      </tr>
   </thead>
    <tbody>
    {% for i in range(5) %}
        <tr>
            <td>{{ movieInfo['subjects'][i]['title'] }}</td>
            <td><img src="{{ movieInfo['subjects'][i]['images']['small'] }}"></td>
            <td>{{ movieInfo['subjects'][i]['year'] }}</td>
            <td>
                {% for genre in movieInfo['subjects'][i]['genres'] %}
                    {{ genre }}/
                {% endfor %}
            </td>
            <td>{{ movieInfo['subjects'][i]['directors'][0]['name'] }}</td>
            <td>
                {% for cast in movieInfo['subjects'][i]['casts'] %}
                    {{ cast['name'] }}/
                {% endfor %}
            </td>
            <td>
                <select name="rating" data-toggle="select" class="form-control select select-default mrs mbm">
                    <option value="1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp很差--1分</option>
                    <option value="2">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp较差--2分</option>
                    <option value="3">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp还行--3分</option>
                    <option value="4" selected>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp推荐--4分</option>
                    <option value="5">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp力荐--5分</option>
                </select>
            </td>
            <td>
                <button value="{{ movieInfo['subjects'][i]['original_title']  }}" class="btn">提交</button>
            </td>
        </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function () {
    $(".btn").click(function () {
        var original_name=$(this).val()
        var select = $(this).parent().prev().find("select")
        var rating=select.val()
        alert(original_name)
        alert(rating)
        window.location.href="/movie/addRatingRecord/"+original_name+"/"+rating;
    })
})
function addRatingRecord(button)
{
    var original_name=button.value
    var select = button.parent().prev().children()[0]
    var rating = select.value
    alert(original_name+''+rating)
}
</script>
{% endblock %}
